* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    min-width: 700px;
}

header {
    position: relative;
    display: block;
    width: 100%;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header div{
    height: 100%;
}

header div:first-child {
    float: left;
    padding: 25px 50px;

}

header div:last-child {
    float: right;
    padding: 25px 50px;
}

div img {
    height: 100%;
}

main {
    display: block;
    position: relative;
    width: 100%;
    height: 80vh;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;

}

.window h2 {
    font-size: 30px;
    padding: 25px 0;
}

.window img {
    width: 25px;
    padding-right: 5px;
}

.login-opt div {
    display: inline-block;
    padding: 5px;
}

.login-opt a {
    color: white;
    text-decoration: none;
    padding: 5px;
    position: relative;
}

.google-block {
    background-color: #5086ED;
}

.facebook-block {
    background-color: #4968AD;
}

.window > p {
    padding: 25px 0;
}

form label {
    display: block;
    font-weight: 500;
}

[class*="area"] {
    padding-bottom: 25px;
}

[class*="area"] input {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    max-width: 500px;
}

input[type="checkbox"] {
    display: inline;
}

input[type="checkbox"] + p {
    display: inline;
}

input[type="checkbox"] + p > a {
    color: rgb(90, 144, 231);
    text-decoration: none;
}

input[type="submit"] {
    display: block;
    width: 200px;
    height: 50px;
    border: 2px dotted grey;
    background-color: rgb(255, 255, 255, 0);
    color: grey;
    font-weight: 700;
    border-radius: 20px;
    margin: 25px 0px;
}

footer {
    display: block;
    height: 10vh;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 5px;
}

footer p {
    display: inline-block;
    padding: 25px 50px;
}

footer ul {
    display: inline-block;
    position: relative;
}

footer ul li {
    display: inline;

}

li a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
}